<header id="description">
    <p class="po-font-title">DashBoard</p>
</header>
<br>
<section id="dash" class="po-row">
    <po-widget class="po-md-4" p-primary-label="Detalhes">
        <p class="po-font-subtitle po-text-center">Peças a Fotografar</p>
        <p class="po-font-title po-text-center">{{retAFotografar}}</p>
    </po-widget>
        
    <po-widget class="po-md-4" p-primary-label="Detalhes">
        <p class="po-font-subtitle po-text-center">Peças Reprocessando</p>
        <p class="po-font-title po-text-center">{{retReprocessado}}</p>
    </po-widget>

    <po-widget class="po-md-4" p-primary-label="Detalhes">
        <p class="po-font-subtitle po-text-center">Peças Fotografadas</p>
        <p class="po-font-title po-text-center">{{retFinalizado}}</p>
    </po-widget>
</section>

<section>
    <po-chart
    [p-series]="chartCont"
    >
    </po-chart>
</section>